<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>serveradmin</string>
		<key>creation_date</key>
		<date>2016-01-29T21:26:13Z</date>
		<key>munki_version</key>
		<string>2.4.0.2561</string>
		<key>os_version</key>
		<string>10.10.5</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>sgs_catalog</string>
	</array>
	<key>installer_type</key>
	<string>apple_update_metadata</string>
	<key>name</key>
	<string>031-46039</string>
	<key>version</key>
	<string>1.0</string>
	<key>RestartAction</key>
	<string>RequireLogout</string>
	<key>force_install_after_date</key>
	<date>2016-02-01T13:00:00Z</date>
</dict>
</plist>

